/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: 20px;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  color: var(--text-color, #f1b2ce);
  font-weight: normal;
  line-height: 1.3;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}
.header {
  height: 100vh;
  /* min-height: 768px; */
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 1.1fr;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  padding-block-end: 20px;
  margin-block-end: 40px;
}
.header__text-grid {
  grid-column: 2/3;
  /* display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 0.5fr 1.5fr; */
}
.decorated-zone {
  position: relative;
}
.header__theme-menu {
  grid-column: span 2;
  display: flex;

  justify-content: center;
  gap: 10px;
}
.header__theme-menu-list {
  display: flex;
  gap: 10px;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  line-height: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  border: 1px solid transparent;
  padding: 0 13px;
  color: var(--text-accent-color, #ff0070);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-accent-color, #ff0070);
  pointer-events: none;
}
.corner__decorated {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-accent-color, #ff0070);
  border-left: 1px solid var(--text-accent-color, #ff0070);
}
.corner__decorated-2 {
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-accent-color, #ff0070);
  border-right: 1px solid var(--text-accent-color, #ff0070);
  right: 0;
  top: 0;
  position: absolute;
}

.header__rec {
  display: block;
  position: absolute;
  color: #ff0070;
  line-height: 25px;
}
.header__rec-position {
  position: absolute;
  right: 37px;
}
.header__rec::after {
  content: "";
  position: absolute;
  background-position: center;
  background-size: contain;
  background-color: #ff0070;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 5px #ff0070;
  margin-block-start: 7.5px;
  inset-block-start: 5%;
  inset-inline-start: 50px;
}

.header__title {
  grid-column: span 2;
  align-self: center;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 90%;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0px #ff0070;
  font-weight: bold;
  margin-inline-start: -20px;
}

.header__text {
  grid-column: 3/4;
}
.accent-text {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3;
  color: #000028;
  background-color: var(--accent-color);
}
.content {
  display: grid;
  row-gap: 80px;
  margin-block-end: 60px;
}
.content__block-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
  row-gap: 20px;
}
.content-title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  color: var(--text-accent-color, #ff0070);
  font-weight: 700;
  line-height: 1.3;
}
.grid-block-1 {
  grid-row: span 2;
}
.content__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content__block-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}
.grid-block-2 {
  grid-column: span 3;
  padding-block-end: 20px;
}
.content__block-3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: row;
  gap: 20px;
}
.grid-block-3 {
  grid-row: span 5;
}
.content__accent-text {
  font-size: inherit;
  font-weight: normal;
  line-height: 23.4px;
  color: #000028;
  background-color: var(--accent-color, #ff0070);
}
.content__text > .accent-text {
  margin-block-end: 10px;
}
.content__block-picture {
  display: grid;
  gap: 20px;
}
.content__link {
  text-decoration: none;
  text-shadow: 4px 3px 3px var(--accent-color, #ff0070);
}
.content__picture {
  display: grid;
  gap: 20px;
  grid-template-areas:
    " mountains  mountains ice_cream"
    " caseta  books ice_cream"
    "caseta street street ";
}

.content__picture-png {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* .content__picture-box-1 {
  grid-area: title;
} */
.content__picture-box-2 {
  display: block;
  grid-area: mountains;
}
.content__picture-box-3 {
  grid-area: ice_cream;
}
.content__picture-box-4 {
  grid-area: caseta;
}
.content__picture-box-5 {
  grid-area: books;
}
.content__picture-box-6 {
  grid-area: street;
}
.footer {
  position: relative;
  padding-block-start: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 768px;
}
.footer__content {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0px #ff0070;
  font-weight: bold;
}
@media (max-width: 375px) {
  .page {
    padding: 10px;
  }
  .content__picture {
    row-gap: 10px;
    grid-template-areas:
      " mountains"
      "ice_cream"
      " caseta"
      "books"
      "street";
  }
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header__theme-menu {
    margin-block-start: 66.5px;
    align-items: end;
    justify-content: end;
  }
  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }
  .header {
    padding-block-end: 10px;
  }
  .fotter {
    padding-block-start: 10px;
  }
  .header__text-grid {
    grid-column: 1/4;
  }
  .content__block-1,
  .content__block-3 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header__theme-menu {
    align-items: end;
    justify-content: end;
  }
  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }
  .header__theme-menu-list {
    flex-direction: column;
    gap: 13px;
  }
  .content__block-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .content__block-2 {
    display: flex;
    flex-direction: column;
  }
  .grid-block-2 {
    max-width: 200px;
  }
}
